# Dependencias
node_modules/
client/node_modules/
server/node_modules/

# Variables de entorno
.env
client/.env
server/.env

# Builds
dist/
build/
client/dist/
client/build/
server/dist/
server/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editores / SO
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db

# Archivos generados por TS/Vite
*.tsbuildinfo
client/vite.config.js
client/vite.config.d.ts
